html, body{
    margin : 0px;
    background-color: #171717;
    color: #aca7cb;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;

}

/*header styling*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #171717;
    color: #aca7cb;
    font-size: 20px;
}


/*Section 1 styling*/
.section1{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;

}

.section1 > div {
    max-width: 140px;
    max-height: 130px;
    border-radius: 10px;
    flex:1 1 auto;
    text-align: center;

}


.round-message {
    align-self: flex-end;
    min-width: 200px;
    font-size: 30px;
    color: #aca7cb;
}


p{
    font-weight: bolder;

}

/*Section 2 styling*/

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 55px;
}

.section2 > div{
    max-width: 140px;
    max-height: 130px;
    border-radius: 10px;
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;
    flex:1 1 auto;
    

}
/*Section 3 styling*/

.section3 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.section3 > button {
    max-width: 100px;
    max-height: 100px;
    padding: 0px;
    flex:1 1 auto;
    border:0px;
    background-color: #171717;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
    
}


button:hover{
    transform: scale(1.05);
    
}

button > img:hover{
    border: 3px solid #aca7cb;
}

/*Footer styling*/

footer {
    background-color:#171717;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 15px;
    flex:1;

}

footer > div{
    width: 45px;
    height: auto;
}

footer:hover{
    color: #aca7cb;
}


